*
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!src/**
!src
!tests/**
!tests
!scripts/*.ts
!scripts/docker-entrypoint.sh
!scripts
!public/**
!public
!index.html
!vite.config.ts
!tsconfig.json
!Dockerfile
